CompileFlags:
    Add:
        - -Ic:\users\34379\.eide\tools\gcc_arm\arm-none-eabi\include\newlib-nano
        - -Ic:\users\34379\.eide\tools\gcc_arm\arm-none-eabi\include\c++\10.2.1
        - -Ic:\users\34379\.eide\tools\gcc_arm\arm-none-eabi\include\c++\10.2.1\arm-none-eabi\thumb\v7-m\nofp
        - -Ic:\users\34379\.eide\tools\gcc_arm\arm-none-eabi\include\c++\10.2.1\backward
        - -Ic:\users\34379\.eide\tools\gcc_arm\lib\gcc\arm-none-eabi\10.2.1\include
        - -Ic:\users\34379\.eide\tools\gcc_arm\lib\gcc\arm-none-eabi\10.2.1\include-fixed
        - -Ic:\users\34379\.eide\tools\gcc_arm\arm-none-eabi\include
    CompilationDatabase: ./build/Debug
    Compiler: C:\Users\34379\.eide\tools\gcc_arm\bin\arm-none-eabi-g++.exe
